@import './base.css';


#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;

}

header {
  flex-shrink: 1;

}

main {
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 0;

}

footer {
  flex-shrink: 1;

}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 2rem;

  }

  header {
    flex-shrink: 1;

  }

  main {
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 0;

  }

  footer {
    flex-shrink: 1;

  }
}